<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>登录</title>
    <link rel="stylesheet" href="css/auth.css">
    <link th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.css}">
    <link th:href="@{/webjars/jquery/3.4.1/jquery.js}">
</head>

<body>
<div class="lowin">
    <div class="lowin-brand">
        <img src="img/kodinger.jpg" alt="logo">
    </div>
    <div class="lowin-wrapper">
        <div class="lowin-box lowin-login">
            <div class="lowin-box-inner">
                <form action="/Login" method="post">
                    <p>请登录</p>
                    <p STYLE="color: #ff6464" th:text="${msg}" th:if="${not #strings.isEmpty(msg)}">请登录</p>
                    <div class="lowin-group">
                        <label>账户</label>
                        <input type="email" autocomplete="account" name="account" class="lowin-input">
                    </div>
                    <div class="lowin-group password-group">
                        <label>密码 <a href="#" class="forgot-link">忘记密码?</a></label>
                        <input type="password" name="passWord" autocomplete="current-passWord" class="lowin-input">
                    </div>
                    <button class="lowin-btn login-btn" type="submit">
                        登录
                    </button>

                    <div class="text-foot">
                        没有账户? <a href="" class="register-link">注册</a>
                    </div>
                </form>
            </div>
        </div>

        <!--        <div class="lowin-box lowin-register">-->
        <!--            <div class="lowin-box-inner">-->
        <!--                <form action="Register">-->
        <!--                    <p>请创建你的账户吧</p>-->
        <!--                    <div class="lowin-group">-->
        <!--                        <label>昵称</label>-->
        <!--                        <input type="text" name="name" autocomplete="name" class="lowin-input">-->
        <!--                    </div>-->
        <!--                    <div class="lowin-group">-->
        <!--                        <label>账户</label>-->
        <!--                        <input type="email" autocomplete="email" name="email" class="lowin-input">-->
        <!--                    </div>-->
        <!--                    <div class="lowin-group">-->
        <!--                        <label>密码</label>-->
        <!--                        <input type="password" name="password" autocomplete="current-password" class="lowin-input">-->
        <!--                    </div>-->
        <!--                    <button class="lowin-btn" type="submit">-->
        <!--                        注册-->
        <!--                    </button>-->

        <!--                    <div class="text-foot">-->
        <!--                        已有帐户? <a href="" class="login-link">登录</a>-->
        <!--                    </div>-->
        <!--                </form>-->
        <!--            </div>-->
        <!--        </div>-->
        <!--    </div>-->

        <footer class="lowin-footer">
            Copyright © 2019-2020 · 咸鱼翻身 · 渝ICP备19015871号 ｜ All Rights Reserved Powered
        </footer>
    </div>

    <script src="js/auth.js"></script>
</div>
</body>
</html>